*{
  background-color:rgb(6,9,36);
  margin:0px;
}

.page1{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\bgdb2.png');
  background-repeat:no-repeat;
  padding-top:0px;
  height: 70vh;
  display:flex;
  padding-top:18vh;
  padding-left:34.7vw;
}
.salesbox{
  background-color:rgb(4,173,147);
  height:120px;
  width:380px;
  color:rgb(57,254,215);
  display:flex;
  align-items:center;
  justify-content:center;
  border:4px solid rgb(188,163,137);
  border-radius:4px;
  border-style:double;
  box-shadow:2px 2px 2px 2px;
  font-family: 'Tourney', cursive;
  font-size: 30px;
  -webkit-text-stroke-color:solid white;
}

.boxtitle{
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0px;
  margin-left: 1vw;
}

.sliderimg{
  width:29vw;
  height:45vh;
  border: 0.1px solid white;
  border-bottom: 0px;
  border-radius: 6px;
}
.swiper-wrapper{
  padding-left: 2vw;
  padding-right: 6vw;
}
.swiper-pagination{
  opacity: 0.3;
}
.swiper-button{
  opacity:0.3;
}
:root{
  --swiper-theme-color: white!important;
}

.titleslider{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  margin: 0px;
  width: 433.84px;
  color: white;
  background-color: inherit;
  border: 2px solid rgb(10, 10, 31);
  margin-left:1px;
  text-align: center;
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.ratingslider{
  color: rgb(255, 217, 0);
  background-color: inherit;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-bottom: 20px;
}
.sliderbox{
  width: 30vw;
  background-color: inherit;
  margin-left: 4vw;
  margin-bottom: 4px;
  position: relative;
}

.genre{
  display: flex;
  justify-content: left;
  margin: 0px;
  padding-bottom: 3px;
  padding-left: 1px;
  padding-right: 4px;
  background-color: inherit;
}
.genrename{
  background-color: rgb(102, 106, 115);
  color:rgb(186, 183, 183);
  border: 2px solid rgba(112, 112, 114, 0.839);
  border-radius: 5px;
  margin: 0px;
  margin-left: 4px;
  padding-right: 4px;
}

.recommendcontainer{
  display: flex;
  flex-direction: column;
  width: 1455px;
  padding-top:100px;
  color: white;
}
.recommendboxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.horizontalbox{
  height: 20vh;
  width: 20vw;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: rgb(84, 165, 196);
  border: 1px solid white;
  border-radius: 5px;
}
.titleratingrecommend{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}
.horizontalbox:hover{
  opacity: 0.7;
}

.withouthover{
  width:29vw;
  background-color: rgb(14,51,49);
  display: flex;
  flex-direction: column;
}
.withover{
  background-color: rgb(14,51,49);
  border-radius: 8px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  transition: opacity 1.5s; 
}

.sliderbox:hover .withouthover{
  display: none;
}
.sliderbox:hover .withover{
  opacity: 1;
}
.hovertitle{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:white;
  background-color: inherit;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 10px;
}
.hoverimages{
  width:444px;
  height: 200px;
  margin: 2px;
  border: 2px solid rgb(25, 110, 24);
}
.innerswiper{
  background-color:#1F2833;
}
.innerswiper .swiper-button-prev,.swiper-button-next{
    opacity: 0;
    display: none;
}
.innerswiper :root{
  --swiper-theme-color: rgb(250, 245, 245)!important;
}
.innerswiper .swiper-wrapper{
  padding: 0px;
}
.releasedate{
  background-color: inherit;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(201, 198, 198);
  margin:0px;
  font-style: italic;
}
.platformname{
  background-color: inherit;
  color: white;
}

.showmore{
  background-color: rgba(255, 0, 0, 0.235);
  color: rgba(237, 57, 57, 0.807);
  text-align: end;
  padding-right: 13px;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.genrewisetitle{
  color: white;
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin-left: 1vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tagwisetitle{
  color: white;
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin-left: 1vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.actionimg{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\action.png');
  background-repeat: no-repeat;
  height: 38vh;
  width: 20vw;
  margin-left: 10px;
  margin-right: 5px;
}
.adventureimg{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\adventure.png');
  background-repeat: no-repeat;
  height: 38vh;
  width: 20vw;
  margin-left: 5px;
  margin-right: 5px;
}
.rpgimg{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\rpg.png');
  background-repeat: no-repeat;
  height: 38vh;
  width: 20vw;
  margin-left: 5px;
  margin-right: 5px;
}
.survivalimg{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\survival.png');
  background-repeat: no-repeat;
  height: 38vh;
  width: 20vw;
  margin-left: 5px;
  margin-right: 5px;
}
.puzzleimg{
  background-image: url('C:\Users\ASUS\Desktop\GameDeal\src\images\puzzle.png');
  background-repeat: no-repeat;
  height: 38vh;
  width: 20vw;
  margin-left: 5px;
  margin-right: 10px;
}
.genrewisecontainers{
  display: flex;
  flex-direction: column;
}
.genrewiseimages{
  display: flex;
  align-items: center;
}
.actionimg:hover,.adventureimg:hover,.rpgimg:hover,.puzzleimg:hover,.survivalimg:hover{
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.tagcontainer{
  display: flex;
  flex-direction: column;
}
.tagwiseicons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tagtitle{
  color: rgba(255, 255, 255, 0.971);
  background-color: rgb(29, 27, 27);
  font-size: 30px;
  border: 0.5px solid rgb(144, 137, 137);
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height:max-content;
  transition: opacity 0.2s;
}
.tagtitle:hover{
  opacity: 0.5;
}
.classicContainer{
  color: white;
  margin-bottom: 5vh;
  margin-top: 5vh;
  margin-left: 1vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  border: 3px solid rgb(150,147,251);
  border-radius:7px;
}

.classictitle{
  height: 40vh;
  width: auto;
}
.classicimages{
  display: flex;
  flex-wrap: wrap;
  margin-left: 4px;
  margin-right: 4px;
}
.classicimages img{
  height: 20vh;
  width: 17vw;
  border:0.1px solid rgb(110, 109, 109);
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.classicimages img:hover{
  transform: scale(1.05);
  transition: transform 1s;
  opacity: 0.6;
}
.awardsContainer{
  color: white;
  flex-direction: row-reverse;
  margin-bottom: 5vh;
  margin-top: 10vh;
  margin-left: 1vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  border: 3px solid rgb(227,131,19);
  border-radius:7px;
  padding-right: 3px;
  padding-left: 3px;
}
.awardsimages img{
  height: 20vh;
  width: 20vw;
  border:0.1px solid rgb(110, 109, 109);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.awardsimages img:hover{
  transform: scale(1.05);
  transition: transform 1s;
  opacity: 0.6;
}

.text{
  color:white;
}

.linktoprated{
  text-decoration: none;
  color: white;
}